<div class="it-geo-layouts">
    <it-geo-top-bar class="it-geo-top-bar mat-elevation-z4"></it-geo-top-bar>
    <mat-sidenav-container class="it-geo-side-nav-container">
        <mat-sidenav #leftSidenav mode="side" opened class="mat-elevation-z4 it-geo-left-side-nav">
            <it-geo-left-side-nav></it-geo-left-side-nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
