.it-geo-top-bar {
    grid-area: top-bar;
    display: grid;
    grid-template-columns: repeat(16, 60px);
    grid-column-gap: 20px;
}

.it-geo-side-nav-container {
    grid-area: main;
    margin-top: 10px;
}

