<mat-card 
    class="mat-elevation-z4"
    [ngStyle]="block.style"
    [formGroup]="block.key"
    >
    <mat-card-title>
        <div>
            <span>{{block.block_title}}</span>
        </div>
        <div *ngIf="block.description && block.description.length">
            <span>{{block.description}}</span>
        </div>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <!-- <p>{{dynamicForm | json}}</p> -->
        <div class="balans-row" *ngFor="let field of block.fields">
            <!-- <span> {{field.style | json}} </span>  -->
            <it-geo-form-field [field]="field"></it-geo-form-field>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="balans-row" *ngFor="let child of block.children">
            <it-geo-form-block [block]="child" [(dynamicForm)]="dynamicForm"></it-geo-form-block>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>