
<ng-template #recursiveBlock let-blocks let-group="formGroup">
    <ng-container *ngFor="let block of blocks">
        <mat-card class="mat-elevation-z4" [ngStyle]="block.style">
            <mat-card-title>
                <div>
                    <span>{{block.block_title}}</span>
                </div>
                <div *ngIf="block.description && block.description.length">
                    <span>{{block.description}}</span>
                </div>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form [formGroup]="group.get(block.key)" (ngSubmit)="onSubmit()">
                    <div *ngIf="block && block.fields.length" fxLayout="column">
                        <ng-container *ngFor="let field of block.fields">
                            <div [ngSwitch]="group.get(block.key).get(field.key).fieldType">
                                <mat-form-field  fxFlex *ngSwitchCase="'input'">
                                    <mat-label>{{field.label}}</mat-label>
                                    <input 
                                    [textMask]="group.get(block.key).get(field.key).mask"
                                    [autocomplete]="group.get(block.key).get(field.key).autocomplete"
                                    [type]="group.get(block.key).get(field.key).InputType"
                                    [required]="group.get(block.key).get(field.key).required"
                                    [placeholder]="group.get(block.key).get(field.key).placeholder"
                                    [formControlName]="group.get(block.key).get(field.key).key" 
                                    matInput>
                                </mat-form-field>
                                <mat-form-field fxFlex *ngSwitchCase="'select'">
                                    <mat-label>{{field.label}}</mat-label>
                                    <mat-select
                                        [formControlName]="group.get(block.key).get(field.key).key"
                                        [required]="group.get(block.key).get(field.key).required"
                                        >
                                        <mat-option 
                                            *ngFor="let option of field.options" 
                                            [value]="option.key"
                                            >{{option.value}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </ng-container>
                    </div>
                    <div *ngIf="block && block.children.length">
                        <ng-container
                            *ngTemplateOutlet="recursiveBlock; context:{ $implicit: block.children, formGroup : group.get(block.key) }">

                        </ng-container>
                    </div>
                </form>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</ng-template>
<ng-container
    *ngTemplateOutlet="recursiveBlock; context:{ $implicit: (dynamicForm$ | async)?.model,  formGroup : dynamicForm }">
</ng-container>