@import '~@angular/material/theming';
@include mat-core();

.it-geo-pages-error {
    display: grid;
    grid-template-columns: 1fr 1280px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". main .";
    align-items: center;
    height: 100vh;

    .container {
        grid-area: main;
        text-align: center;
    }
    
    .error-code {
        font-size: 112px;
        line-height: 1;
        margin-bottom: 16px;
        font-weight: 400;
    }
    
    .message {
        color: rgba(0, 0, 0, .54);
        font-size: 24px;
        line-height: 1.4 !important;
        letter-spacing: -.1px !important;
        margin-bottom: 56px;
    }
    
    .back-link {
        font-size: 15px;
        color: #039be5;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
